alabaster==1.0.0
Babel==2.12.1
beautifulsoup4==4.11.2
bracex==2.3.post1
certifi==2024.8.30
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
docutils==0.19
fonttools==4.39.0
furo==2024.8.6
html5lib==1.1
idna==3.4
imagesize==1.4.1
importlib-metadata==8.4.0
importlib-resources==6.4.4
Jinja2==3.1.2
kiwisolver==1.4.4
livereload==2.6.3
lxd-sphinx-extensions==0.0.6
lxml==5.3.0
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.1
numpy==2.1.1
packaging==24.1
Pillow==10.4.0
Pygments==2.14.0
pyparsing==3.0.9
pyspelling==2.8.2
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4
sphinx==8.0.2
sphinx-autobuild==2024.9.3
sphinx-basic-ng==1.0.0b1
sphinx-copybutton==0.5.1
sphinx-design==0.3.0
sphinx-reredirects==0.1.1
sphinx-tabs==3.4.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxext-opengraph==0.8.1
tornado==6.2
urllib3==2.2.2
wcmatch==9.0
webencodings==0.5.1
zipp==3.15.0
